<h2><%= t('session.title') %></h2>

<%= form_with(url: sessions_path, local: true, html: { class: 'form-container' }) do |form| %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :email, t('session.email'), class: 'form-label' %>
    <%= form.email_field :email, name: "session[email]", class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :password, t('session.password'), class: 'form-label' %>
    <%= form.password_field :password, name: "session[password]", class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= form.submit t('session.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
