<%= form_with model: @recipe, local: true, html: { class: 'form-container' } do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.prohibited', count: @recipe.errors.count) %></h2>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, t('recipes.edit.title') %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, t('recipes.edit.description') %>
    <%= form.text_area :description %>
  </div>

  <div id="quantities">
  <% @recipe.quantities.each_with_index do |quantity, index| %>
    <div class="quantity-fields">
      <%= form.label "quantities_attributes[#{index}][ingredient_name]", t('ingredient_name') %>
      <%= form.text_field "quantities_attributes[#{index}][ingredient_name]", value: quantity.ingredient_name %>

      <%= form.label "quantities_attributes[#{index}][amount_with_unit]", t('amount_with_unit') %>
      <%= form.text_field "quantities_attributes[#{index}][amount_with_unit]", value: quantity.amount_with_unit %>

      <!-- hidden_fieldを使ってIDを保持させる -->
      <%= form.hidden_field "quantities_attributes[#{index}][id]", value: quantity.id %>
    </div>
  <% end %>
</div>

  <div class="actions">
    <%= form.submit t('recipes.edit.update') %>
    <%= link_to t('recipes.edit.cancel'), recipes_path, class: 'button' %>
  </div>
<% end %>