<% content_for :title, "レシピ作成 | my recipe" %>
<%= javascript_pack_tag 'recipe_form', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <%= form_with(model: @recipe, local: true) do |form| %>
        <% if @recipe.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
            <ul>
              <% @recipe.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :title, t('title') %>
          <%= form.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :description, t('description') %>
          <%= form.text_area :description, class: "form-control", rows: "5" %>
        </div>

        <div id="quantities">
          <% @recipe.quantities.each_with_index do |quantity, index| %>
            <%= ingredient_fields(form, index) %>
          <% end %>
        </div>

        <button type="button" id="add-quantity" class="btn btn-secondary"><%= t('add_ingredient') %></button>

        <div class="mb-3">
          <%= form.label :images, t('recipe_images') %>
          <%= form.file_field :images, multiple: true, accept: 'image/*', id: 'recipe_images', class: "form-control" %>
          <div id="image-preview"></div>
        </div>

        <div>
          <%= form.submit t('post'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
