<h1 class="mt-4"><%= @recipe.title %></h1>
<p class="lead"><%= @recipe.description %></p>

<div class="mb-4">
  <% if @recipe.images.attached? %>
    <div class="row">
      <% @recipe.images.each do |image| %>
        <div class="col-md-4 mb-3">
          <%= image_tag image, class: "img-fluid", style: "width: 50%; height: auto;" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted"><%= t('recipe.images.no_images') %></p>
  <% end %>
</div>

<h2><%= t('recipe.ingredients.title') %></h2>
<div>
  <% if @recipe.quantities.any? %>
    <ul class="list-group">
      <% @recipe.quantities.each do |quantity| %>
        <li class="list-group-item">
          <%= quantity.amount_with_unit %> <%= quantity.ingredient_name %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-muted"><%= t('recipe.ingredients.no_ingredients') %></p>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to t('recipe.edit'), edit_recipe_path(@recipe), class: "btn btn-warning" %>
  <%= link_to t('recipe.delete'), recipe_path(@recipe), method: :delete, data: { confirm: t('recipe.confirm') }, class: "btn btn-danger" %>
  <%= link_to t('recipe.back'), home_path, class: "btn btn-secondary" %>
</div>
