<h1><%= @recipe.title %></h1>
<p><%= @recipe.description %></p>

<% if @recipe.images.attached? %>
  <h2><%= t('recipe.images.title') %></h2>
  <% @recipe.images.each do |image| %>
    <%= image_tag image, style: "width: 200px; height: auto;" %>
  <% end %>
<% else %>
  <p><%= t('recipe.images.no_images') %></p>
<% end %>

<h2><%= t('recipe.ingredients.title') %></h2>
<% if @recipe.quantities.any? %>
  <ul>
    <% @recipe.quantities.each do |quantity| %>
      <li><%= quantity.amount_with_unit %> <%= quantity.ingredient_name %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('recipe.ingredients.no_ingredients') %></p>
<% end %>

<%= link_to t('recipe.edit'), edit_recipe_path(@recipe) %> |
<%= link_to t('recipe.delete'), recipe_path(@recipe), method: :delete, data: { confirm: t('recipe.delete.confirm') } %>
<%= link_to t('recipe.back'), home_path %>

