<!DOCTYPE html>
<html>
<head>
  <title><%= t('users.show.title') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>
<body>
  <main class="container mt-5">
    <h1 class="mb-4"><%= t('users.show.heading') %></h1>

    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong><%= t('users.show.name') %>:</strong> <%= @user.name %></p>
        <p class="card-text"><strong><%= t('users.show.email') %>:</strong> <%= @user.email %></p>
        <p class="card-text"><strong><%= t('users.show.password') %>:</strong> *********</p>

        <div class="mt-4">
          <%= link_to t('users.show.edit'), edit_account_path, class: 'btn btn-primary' %>
          <%= link_to 'ログアウト', logout_path, class: 'btn btn-link text-decoration-none', data: { turbo_method: :delete } %>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
