<div class="container">
  <h2>my-recipe 一覧</h2>

  <%= form_with url: recipes_path, method: :get, local: true do %>
    <div>
      <%= text_field_tag :query, params[:query], placeholder: 'キーワードを入力...' %>
      <%= submit_tag "検索？" %>
    </div>
  <% end %>
  
  
<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.title, recipe_path(recipe) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだレシピがありません</p>
<% end %>

<%= link_to 'レシピを作成する', new_recipe_path, class: 'btn btn-primary' %>
