<!DOCTYPE html>
<html>
<head>
  <title>My Recipe</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <style>
    /* 画像のスタイルを調整 */
    .responsive-image {
      max-width: 25%;  /* 画面幅に合わせて最大幅を設定 */
      height: auto;      /* 高さを自動調整 */
      margin-bottom: 20px; /* 画像と下の要素の間隔 */
    }
    body {
      margin: 0; /* ボディのマージンをリセット */
      padding: 0; /* ボディのパディングをリセット */
    }
    header {
      background-color: #ffe6e6; 
      padding: 20px; 
      text-align: center;
    }
    main {
      text-align: center; 
      padding: 20px;
    }
  </style>
</head>
<body>
  <header>
    <h1>my-recipe</h1>
  </header>

  <main>
    <%= image_tag "top.jpg", alt: "レシピのイメージ", class: 'responsive-image' %>
    <p>ここにコメントを挿入します。レシピの管理が簡単になります！</p>
    
    <div>
      <%= link_to "新規会員登録", new_user_registration_path, class: "button-custom" %>
      <%= link_to "ログイン", new_user_session_path, class: "button-custom" %>
    </div>
  </main>
</body>
</html>
