<h2><%= t('recipes_title') %></h2>

<%= form_with url: search_recipes_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :query, "検索" %>
    <%= form.text_field :query %>
  </div>
  <div>
    <%= form.submit "検索" %>
  </div>
<% end %>

<% if @recipes.any? %>
  <% @recipes.each do |recipe| %>
    <div>
      <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
      <p><%= recipe.description %></p>
      
      <% if recipe.images.attached? %>
        <%= image_tag recipe.images.first, style: "width: 100px; height: auto;" %>
      <% else %>
        <p><%= t('no_image') %></p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p><%= t('no_recipes') %></p>
<% end %>

