<div class="container">
  <h2 class="my-4"><%= t('recipes_title') %></h2>

  <%= form_with url: search_recipes_path, method: :get, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :query, "検索", class: 'form-label' %>
      <%= form.text_field :query, class: 'form-control', placeholder: 'レシピを検索...' %>
    </div>
    <div>
      <%= form.submit "検索", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <% if @recipes.any? %>
    <% @recipes.each do |recipe| %>
      <div class="recipe-card card mb-4">
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to recipe.title, recipe_path(recipe), class: 'text-decoration-none' %>
          </h5>
          <p class="card-text"><%= recipe.description %></p>
          
          <% if recipe.images.attached? %>
            <%= image_tag recipe.images.first, class: "card-img-top", style: "width: 100%; height: auto;" %>
          <% else %>
            <p><%= t('no_image') %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p><%= t('no_recipes') %></p>
  <% end %>
</div>
